.checkout__ad {
	width: 100%;
	margin-bottom: 10px;
}
.checkout {
	display: flex;
	padding: 20px;
	background-color: white;
	height: max-content;
}
.checkout__title {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
.checkout__pockets {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	max-height: 400px;
	min-width: 100px;
	margin: 10px;
	padding: 20px;
	width: 100%;
	background-color: white;
	z-index: 1;
}
